/**
  |============================
  | General styles
  |============================
*/
:root {
  --bgcl-general: #ffffff;
  --popular-text-cl: #434455;
  --btn-cl: #4d5ae5;
  --btn-bg-cl: #f4f4fd;
  --title-cl: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bgcl-general);
  letter-spacing: 0.02em;
  color: var(--popular-text-cl);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  padding-left: 0;
}

.title-block {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--title-cl);
}

.title-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-cl);
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Flex */

/* .card-set {
  display: flex;
  gap: var(--ident);
}

.card-set-item: {
  flex-basis: calc(100%- (var(--ident) * (var(--item) - 1) / var(--item)));
} */

/**
  |============================
  | Header styles
  |============================
*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.web {
  color: #4d5ae5;
}

.dark-studio {
  color: #2e2f42;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
}
.adress {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.adress-list {
  color: #434455;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.adress-list:hover,
.adress-list:focus {
  color: #404bbf;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container {
  display: flex;
  align-items: center;
}
.nav-list-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adress-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo-container {
  margin-right: 76px;
}

/**
  |============================
  | Styles section hero
  |============================
*/
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  min-width: 169px;
  min-height: 56px;
  padding: 16 32;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/**
  |============================
  | Styles future
  |============================
*/

.text-future {
  letter-spacing: 0.02em;
  margin: 0 auto;
  padding: 0 auto;
}
.title-section {
  margin-bottom: 8px;
}
.card-future {
  display: flex;
  gap: 24px;
}
.card-future-item {
  flex-basis: calc((100%-3 * 24px) / 4);
}

/**
  |============================
  | What doing
  |============================
*/
.title-block {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.card-do {
  display: flex;
  gap: 24px;
}
.card-do-item {
  lex-basis: calc((100% - 3 * 24px) / 4);
}

/**
  |============================
  | Styles section team
  |============================
*/
.team {
  background-color: #f4f4fd;
}
.title-team {
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.text-team {
  text-align: center;
}

.list-title {
  background-color: #ffffff;
}

.card-team {
  display: flex;
  gap: 24px;
}

.card-team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
}

.team-container {
  padding: 32px 16px;
}

/**
  |============================
  | Styles footer
  |============================
*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.light-studio {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
}

/**
  |============================
  | Styles portfolio
  |============================
*/

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  color: var(--btn-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--btn-bg-cl);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  color: var(--title-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--popular-text-cl);
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
